<html>
  <head>
    <title>Studentinlämning</title>
    <meta charset="utf-8"/>
    <link href='/static/style.css' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <form action="/", method="post">
      <textarea type="text", id="code", name="code"></textarea><br><br>
      <label for="name">Your name:</label><br>
      <input type="text", id="name", name="name">
      <input type="submit", value="Submit">
    </form>

    {% if handin_received != None %}
      <p class="approved">Handin received at {{handin_received}}!</p>
    {% endif %}
  </body>
</html>
